#mainButtonPane{
    -fx-background-color: #3B3939;

}
.side-corner-round-button-black{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px 0 0 15px;
    -fx-border-radius: 15px 0 0 15px;
}
.sub-panes{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.sub-panes:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(210, 221, 216, 0.93),8,0.8,0,0);
}
.round-button-black{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #383839;
    -fx-text-fill: white;
    -fx-font-style: bold;
    -fx-font-weight: 5px;
}
.round-button-black:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(156, 256, 212, 0.93),10,0.8,0,0);
}
.round-button-black:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(18, 81, 200, 0.93),10,0.8,0,0);
}